@font-face {
  font-family: ProximaNovaRegular;
  src: url(../fonts/ProximaNova-Regular.otf);
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-stretch: normal;
}

@font-face {
  font-family: ProximaNovaExtraBold;
  src: url(../fonts/ProximaNovaExtrabold.otf);
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-stretch: normal;
}

@font-face {
  font-family: ProximaNovaBold;
  src: url(../fonts/ProximaNovaBold.otf);
  font-stretch: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: ProximaNovaRegular;
}

p,
a {
  font-family: ProximaNovaRegular;
  font-size: 16px;
  color: #393e46 !important;
}

@media (min-width: 992px) {
  p,
  a {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  p,
  a {
    font-size: 20px;
  }
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 650px;
  width: 100%;
  background-color: #2979f2;
  z-index: -9999;
}

@media (min-width: 768px) {
  .bg-overlay {
    height: 800px;
  }
}

@media (min-width: 992px) {
  .bg-overlay {
    height: 580px;
  }
}

@media (min-width: 1200px) {
  .bg-overlay {
    height: 580px;
  }
}

.btn {
  font-size: 18px;
  color: white !important;
}

.nav-link {
  color: #808998 !important;
  font-size: 18px;
}

header {
  -webkit-box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
}

@media (min-width: 992px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navbar-nav li {
  margin-left: 15px;
}

.navbar-brand img {
  width: 32px;
  height: auto;
}

@media (min-width: 992px) {
  .navbar-brand img {
    width: 70px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .navbar-brand img {
    height: 70px;
    height: auto;
  }
}

.banner {
  height: 650px;
  margin-top: 30px;
  padding: 15px;
}

@media (min-width: 768px) {
  .banner {
    height: 750px;
    margin-top: 60px;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 580px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .banner {
    height: 580px;
    margin-top: 30px;
  }
}

.banner-content h1 {
  font-family: ProximaNovaBold;
  color: white;
  font-size: 32px;
}

.banner-content h1 span {
  display: block;
}

@media (min-width: 992px) {
  .banner-content h1 {
    font-size: 64px;
  }
}

@media (min-width: 1200px) {
  .banner-content h1 {
    font-size: 64px;
  }
}

.banner-content p {
  font-family: ProximaNovaBold;
  color: white !important;
  font-size: 20px;
}

.banner-content .btn {
  color: #2979f2 !important;
}

.banner-content .btn {
  font-size: 13px !important;
  padding: 10px 20px 10px 20px;
  letter-spacing: 1px;
}

@media (min-width: 992px) {
  .banner-img img {
    margin-bottom: -35px;
    padding-left: 35px;
  }
}

@media (min-width: 1200px) {
  .banner-img img {
    margin-bottom: -35px;
    padding-left: 35px;
  }
}

.section-title h1 {
  font-family: ProximaNovaBold;
  font-size: 24px;
}

@media (min-width: 992px) {
  .section-title h1 {
    font-size: 48px;
  }
}

@media (min-width: 1200px) {
  .section-title h1 {
    font-size: 48px;
  }
}

.section-title p {
  color: #393e46;
}

.services {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .services {
    margin-top: 100px;
  }
}

@media (min-width: 1200px) {
  .services {
    margin-top: 100px;
  }
}

.service-single h3 {
  color: #0a4aab;
  font-weight: bold;
  font-size: 32px;
  font-family: ProximaNovaBold;
}

.service-single p {
  color: #2979f2;
}

.service-single a {
  color: #2979f2 !important;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: relative;
}

.service-single a span {
  border-radius: 50%;
  background-color: #2979f2;
  width: 18px;
  height: 18px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 79px 6px #2979f2;
          box-shadow: 0px 0px 79px 6px #2979f2;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  position: relative;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.service-single a span i {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.click-enabled {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}
/*# sourceMappingURL=style.css.map */