@font-face {
  font-family: ProximaNovaRegular;
  src: url(../fonts/ProximaNova-Regular.otf);
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-stretch: normal;
}

@font-face {
  font-family: ProximaNovaExtraBold;
  src: url(../fonts/ProximaNovaExtrabold.otf);
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-stretch: normal;
}

@font-face {
  font-family: ProximaNovaBold;
  src: url(../fonts/ProximaNovaBold.otf);
  font-stretch: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: ProximaNovaRegular;
  color: #393e46;
}

p {
  font-family: ProximaNovaRegular;
  font-size: 16px;
  color: #393e46 !important;
}

@media (min-width: 992px) {
  p {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 20px;
  }
}

a {
  font-family: ProximaNovaRegular;
  font-size: 16px;
  color: #2979f2 !important;
  font-weight: bold;
  text-decoration: none !important;
  display: block;
}

a span {
  -webkit-box-shadow: 0px 0px 79px 6px #2979f2;
          box-shadow: 0px 0px 79px 6px #2979f2;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  width: 20px;
  height: 20px;
  background-color: #2979f2;
  border-radius: 50%;
  display: inline-block;
  text-align: center !important;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: relative;
  top: 5px;
}

a span i {
  font-size: 12px;
  color: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.click-enabled {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ProximaNovaBold;
}

h1 {
  font-size: 32px;
}

@media (min-width: 992px) {
  h1 {
    font-size: 48px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 28px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 32px;
  }
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 650px;
  width: 100%;
  background-color: #2979f2;
  z-index: -9999;
}

@media (min-width: 768px) {
  .bg-overlay {
    height: 450px;
  }
}

@media (min-width: 992px) {
  .bg-overlay {
    height: 580px;
  }
}

@media (min-width: 1200px) {
  .bg-overlay {
    height: 580px;
  }
}

.btn {
  font-size: 18px;
  color: white !important;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn:hover {
  -webkit-box-shadow: 4px 17px 45px -16px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 17px 45px -16px rgba(0, 0, 0, 0.75);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.nav-link {
  color: #808998 !important;
  font-weight: normal;
  font-size: 18px;
}

header {
  -webkit-box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
}

@media (min-width: 992px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navbar-nav li {
  margin-left: 15px;
}

.navbar-brand img {
  width: 48px;
  height: auto;
}

@media (min-width: 992px) {
  .navbar-brand img {
    width: 70px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .navbar-brand img {
    height: 70px;
    height: auto;
  }
}

.banner {
  height: 650px;
  margin-top: 30px;
  padding: 15px;
}

@media (min-width: 768px) {
  .banner {
    height: 400px;
    margin-top: 60px;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 580px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .banner {
    height: 580px;
    margin-top: 30px;
  }
}

.banner-content h1 {
  font-family: ProximaNovaBold;
  color: white;
  font-size: 32px;
}

.banner-content h1 span {
  display: block;
}

@media (min-width: 992px) {
  .banner-content h1 {
    font-size: 64px;
  }
}

@media (min-width: 1200px) {
  .banner-content h1 {
    font-size: 64px;
  }
}

.banner-content p {
  font-family: ProximaNovaBold;
  color: white !important;
}

.banner-content .btn {
  color: #2979f2 !important;
  font-size: 13px !important;
  padding: 10px 20px 10px 20px;
  letter-spacing: 1px;
}

@media (min-width: 992px) {
  .banner-img img {
    margin-bottom: -35px;
    padding-left: 35px;
  }
}

@media (min-width: 1200px) {
  .banner-img img {
    margin-bottom: -35px;
    padding-left: 35px;
  }
}

.services {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .services {
    margin-top: 100px;
  }
}

@media (min-width: 1200px) {
  .services {
    margin-top: 100px;
  }
}

.service-single h2 {
  color: #0a4aab;
  font-weight: bold;
  font-family: ProximaNovaBold;
}

.service-single p {
  color: #2979f2;
}

.success-story {
  background-color: #2979f2;
  position: relative;
}

@media (min-width: 1200px) {
  .success-story {
    background-color: #f5f5f5;
  }
}

.success-bg {
  display: none;
  width: 26%;
  height: 100%;
  background-color: #2979f2;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 1200px) {
  .success-bg {
    display: inherit;
  }
}

.success-story-content .quote {
  font-size: 22px;
  line-height: 26px;
  color: white !important;
}

@media (min-width: 1200px) {
  .success-story-content .quote {
    font-size: 28px;
    line-height: 36px;
    color: #393e46 !important;
  }
}

@media (min-width: 992px) {
  .success-story-content .quote {
    font-size: 28px;
    line-height: 36px;
  }
}

.success-story-content p {
  line-height: 16px;
  color: white !important;
}

@media (min-width: 1200px) {
  .success-story-content p {
    color: #393e46 !important;
  }
}

.success-story-content h4 {
  color: white;
}

@media (min-width: 1200px) {
  .success-story-content h4 {
    color: #393e46;
  }
}

.success-story-img img {
  border-radius: 50%;
}

.success-story .section-title p {
  color: white !important;
  z-index: 999999;
  position: relative;
  font-size: 24px;
}

.doc-section {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 992px) {
  .doc-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .doc-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.doc-section h1,
.doc-section h3,
.doc-section p {
  color: white !important;
}

.doc-bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .doc-bg-overlay {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .doc-bg-overlay {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.doc-bg-overlay .doc-bg-1 {
  height: 50%;
  width: 100%;
  background-color: #2979f2;
}

@media (min-width: 992px) {
  .doc-bg-overlay .doc-bg-1 {
    height: 100%;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .doc-bg-overlay .doc-bg-1 {
    height: 100%;
    width: 50%;
  }
}

.doc-bg-overlay .doc-bg-2 {
  height: 50%;
  width: 100%;
  background-color: #094093;
}

@media (min-width: 992px) {
  .doc-bg-overlay .doc-bg-2 {
    height: 100%;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .doc-bg-overlay .doc-bg-2 {
    height: 100%;
    width: 50%;
  }
}

.doc-guide-single {
  margin-bottom: 30px;
  padding-left: 0;
}

@media (min-width: 992px) {
  .doc-guide-single {
    margin-bottom: 60px;
    padding-left: 60px;
  }
}

@media (min-width: 1200px) {
  .doc-guide-single {
    margin-bottom: 60px;
    padding-left: 60px;
  }
}

.doc-guide-single h3 {
  line-height: 28px;
  margin-bottom: 10px;
}

.doc-guide-single p {
  line-height: 22px;
  margin-bottom: 0;
}

.doc-guide-single .doc-guide-single-img img {
  width: 80px;
  height: auto;
}

.doc-guide-single .doc-guide-single-content {
  margin-left: 10px;
}

.doc-guide-single:last-child {
  margin-bottom: 0;
}

.doc-guides {
  width: 100%;
  height: 300px;
}

.doc-title {
  width: 100%;
  height: 300px;
}

.client-interest .btn {
  padding: 15px 30px 15px 30px;
  font-size: 14px;
  letter-spacing: 2px;
}

footer {
  background-color: #f5f5f5;
}

footer a,
footer p {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
}

footer .footer-logo img {
  width: 100px;
  height: auto;
}

footer h5 {
  margin-bottom: 0;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-top: 3px;
}

footer ul li a {
  font-size: 14px;
  font-family: ProximaNovaRegular;
  color: #393e46 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer ul li a:hover {
  color: #9ca3af !important;
}

.footer-site-info p {
  font-size: 14px;
  margin-bottom: 0;
}

.footer-site-info ul li {
  margin-left: 15px;
}

.footer-site-info ul li a {
  font-size: 18px;
}

.footer-site-info ul li:first-child {
  margin-left: 0;
}
/*# sourceMappingURL=style.css.map */